<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
<<<<<<< HEAD
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
=======
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
>>>>>>> 45a4e186d0684c0c740d54c6696b67bdf6904bc3
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
